h1{
    font-family: 'Gabriela';
    text-align: center;
    color: rgb(101, 161, 99);
  }
form{
    background-color: rgb(211, 230, 210);
    text-align: center;
    border: 3px solid rgb(96, 172, 111);
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 15px;
  }
.text1{
    font-family: 'Gabriela';  
}
.text2{
    font-family: 'Gabriela';
}
.text3{
    font-family: 'Gabriela';
}
body{
    background-image: url(https://i.pinimg.com/564x/b1/97/96/b19796e3ac1a20222b7725c8ba5cadc1.jpg);
    background-size: contain;
}